[Unit]
Description=Makes sure torrent doesn't run without VPN
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/eugene/torrentvpn_fish/main/torrentvpn.fish

[Install]
WantedBy=default.target

