[Unit]
Description=Makes sure torrent doesn't run without VPN
After=network.target
StartLimitIntervalSec=0


[Service]
Type=simple
Restart=always
RestartSec=1
User=%%user%%
ExecStart=%%filepath%%


[Install]
WantedBy=multi-user.target
